parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./
    excludePaths:
        - %rootDir%/../../../tests/*
        - %rootDir%/../../../vendor/*
    ignoreErrors:
        - '#Constructor of class Zend_Service_Amazon_S3 has an unused parameter \$region\.#'
        # The Xml_Security::scan method can return both DOMDocument or SimpleXMLElement, it depends on what is passed in as the second parameter
        - '#Strict comparison using === between string and null will always evaluate to false\.#'
        - '#Access to an undefined property DOMNode::\$data\.#'
        -
            message: '#Strict comparison using === between null and .asin. will always evaluate to false\.#'
            path: %currentWorkingDirectory%/src/Zend/Service/Amazon/Query.php
        -
            message: '#Negated boolean expression is always false\.#'
            path: %currentWorkingDirectory%/src/Zend/Service/Amazon/S3/Stream.php
        # Didn't take the time to investigate these
        -
            message: '#Call to function is_array\(\) with SimpleXMLElement will always evaluate to false\.#'
            path: ./src/Zend/Service/Amazon/SimpleDb.php
        -
            message: '#Result of && is always false\.#'
            path: ./src/Zend/Service/Amazon/SimpleDb.php
        -
            message: '#Variable \$valueNodes in empty\(\) always exists and is always falsy\.#'
            path: ./src/Zend/Service/Amazon/SimpleDb.php
        -
            message: '#Variable \$valueNodes in isset\(\) always exists and is not nullable\.#'
            path: ./src/Zend/Service/Amazon/SimpleDb.php
